.active-link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  background: url("./assets/images/star.png") no-repeat center center;
  background-size: 15px;
}

.separator-line {
  height: 0.7px;
  width: 100%;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 15%, #FFFFFF 50%, rgba(255, 255, 255, 0) 85%);
}