.active-link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  background: url("./assets/images/star.png") no-repeat center center;
  background-size: 15px;
}

.separator-line {
  height: 0.7px;
  width: 100%;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 15%, #FFFFFF 50%, rgba(255, 255, 255, 0) 85%);
}

/* Works in Chrome, Edge, Safari */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

/* Makes it still scroll */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  overflow: auto;
}

.custom-scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgba(6, 4, 10, 0.2);
}

.custom-scrollbar::-webkit-scrollbar
{
  height: 8px;
	background-color: #F5F5F5;
}

.custom-scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #06040A;
}