@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #121212;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

* {
  box-sizing: border-box;

}

html, body {
  margin: 0;
  padding: 0;
}


.border-bottom-gradient {
  border-bottom: 1px solid;
  border-image-source: linear-gradient(90deg, rgba(227, 227, 227, 0.2) 0%, #E3E3E3 50%, rgba(227, 227, 227, 0.2) 100%);
}

.gradient-text {
  -webkit-text-fill-color: #0000;
  animation: flow 4s linear infinite;
  background: linear-gradient(90deg, #a1ffce, #7e4493, #89f7fe, #66a6ff);
  -webkit-background-clip: text;
  background-size: 300%;
}

.nav-icon {
  align-items: center;
  display: inline-flex;
  font-size: 14px;
  justify-content: center;
  transform: translateY(-1px);
}