@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #121212;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.border-bottom-gradient {
  border-bottom: 1px solid;
  border-image-source: linear-gradient(90deg, rgba(227, 227, 227, 0.2) 0%, #E3E3E3 50%, rgba(227, 227, 227, 0.2) 100%);
}